@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<head>
    
</head>

<body>
    <div class="timeline">
        <div class="container left">
            <div class="content">
                <h2>2017</h2>
                <p>dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2016</h2>
                <p> sim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2>2015</h2>
                <p>lit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2012</h2>
                <p>m per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2>2011</h2>
                <p> dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
                <h2>2007</h2>
                <p>habeo iusto primis ea eam.</p>
            </div>
        </div>
    </div>
</body>

</html>
