@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Georgia, Tbilisi<br />
    <abbr title="Phone">P: +955514636969</abbr> <br>
    post address : 0141
</address>

<address>
    <strong>Support:</strong>   <a href="bakarnemsicveridze@gmail.com">BakarNemsicveridze@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">BekaBadzaghua@gmail.com</a>
</address>
