
@{
    ViewBag.Title = "Monitors";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("/Content/MyCSS/Computers.css")
</head>

<body>
    <h1>Monitors</h1> <br />
    <!-------------------------chechboxs -& search----------->
    <div class="option1">
        <form action="/action_page.php">
            <h2>brand</h2>
            <input type="checkbox" name="1">
            <label>acer</label><br>

            <input type="checkbox" name="2">
            <label>LG</label><br>

            <input type="checkbox" name="3">
            <label>apple</label><br>

            <input type="checkbox" name="4">
            <label>hp</label><br>

            <input type="checkbox" name="4">
            <label>sony</label><br>

            <input type="checkbox" name="4">
            <label>lenovo</label><br><br>
        </form>
    </div>

    <button id="buttonid" type="button" class="btn btn-info">search</button>

    <div id="vehicle11">
        <form action="/action_page.php">
            <h2>resolution</h2>
            <input type="checkbox" name="5">
            <label>720p</label><br>
            <input type="checkbox" name="6">
            <label>1080p</label><br>
            <input type="checkbox" name="7">
            <label>4K or 2160p</label><br>
            <input type="checkbox" name="8">
            <label>8K or 4320p</label><br>
        </form>
    </div>
    <form>
        <div class="inputMoney">
            <h4 id="h2id">price</h4>
            <label for="input1">from-</label>
            <input type="text" name="input1" />

            <label for="input2"> till- </label>
            <input type="text" name="input2" />
        </div>
    </form>
    <hr />


    <!--------------------------------------potos-------->
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">G4900/500GB/H310M/4GB/ITD</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">G5400/4GB/120GB/CX-91T4</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">DELL Vostro 3470 SFF Desktop PC (3years warranty)</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">HP 290 G2 Microtower PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">HP 290 G2 Microtower PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">Lenovo IdeaCentre A340-22IGM All-in-One PC (Black)</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/mon-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">Lenovo IdeaCentre A340-22IGM All-in-One PC (Black)</div>
        </div>
    </div>


</body>

</html>
