
@{
    ViewBag.Title = "Notebooks";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("/Content/MyCSS/Computers.css")
</head>

<body>
    <h1>Monitors</h1> <br />

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">G4900/500GB/H310M/4GB/ITD</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">G5400/4GB/120GB/CX-91T4</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-3.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-4.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">DELL Vostro 3470 SFF Desktop PC (3years warranty)</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">HP 290 G2 Microtower PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-3.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">HP 290 G2 Microtower PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-1.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc">Lenovo IdeaCentre A340-22IGM All-in-One PC (Black)</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-3.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="">
                <img src="/Content/Images/Computers/note-2.jpg" alt="case-1" width="600" height="400" />
            </a>
            <div class="desc"> Acer Veriton ES2730G MT Desktop PC</div>
        </div>
    </div>


    <br />

</body>

</html>


