
@{
    ViewBag.Title = "Tablets_Smartphones";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("/Content/MyCSS/Tablet&Smartphone.css")
</head>

<body>
    <div class="card">
        <img src="~/Content/Images/Computers/smart-1.jpg" alt="smartphone1" style="width:100%">
        <h1>samsung</h1>
        <p class="price">$599.00</p>
        <p>Some text about the phone. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="~/Content/Images/Computers/smart-2.jpg" alt="smartphone1" style="width:100%">
        <h1>samsung</h1>
        <p class="price">$599.00</p>
        <p>Some text about the phone. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="~/Content/Images/Computers/smart-3.jpg" alt="smartphone1" style="width:100%">
        <h1>samsung</h1>
        <p class="price">$599.00</p>
        <p>Some text about the phone. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Add to Cart</button></p>
    </div>



</body>

</html>




